<h1>User info</h1>
<%= form_with model:@user, local:true do |f| %>

<label for = "userName">名前</label>
<%= f.text_field :name, autofocus: true, id:"userName"%>

<h4>画像</h4>
<label for="inputImage">ProfileImage</label>
 <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %>

<label for = "userBody">自己紹介</label>
<%= f.text_field :introduction, autofocus: true, id:"userBody" %>

<%= f.submit"Update User" %>

<% end %>