<h1>User info</h1>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <h3>name</h3>
  <%= current_user.name %>
  <h3>introduction</h3>

  <%= link_to "create", edit_user_path(@user) %>


<h2>New book</h2>
  <%= form_with model: @book, url:'/books', local:true do |f| %>
  <h4>本のタイトル</h4>
  <%= f.text_field :title %>
  <h4>感想</h4>
  <%= f.text_area :body %>
   <%= f.submit 'Create Book' %>
<% end %>



<h1>Books</h1>

<% @books.each do |book| %>

<%= link_to user_path(book.user.id) do %>
  <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %>
<% end %>

<p>本のタイトル</p>
<span><%= link_to book.title, book_path(book.id) %></span>

<P>感想</P>
<span><%= book.body %></span>


<% end %>